<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<display-name>Photo Sharing Web Application</display-name>
	<context-param>
		<param-name>refreshData</param-name>
		<param-value>false</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>photolist</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error</location>
	</error-page>
</web-app>
